version: '3.8'
services:
  db:
    container_name: pg_container
    image: postgres
    restart: always
    env_file: ./.env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
  pgadmin:
    container_name: pgadmin4_container
    env_file: ./.env
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "${PG_ADMIN_PORT}:80"